<li
  [ngClass]="{ completed: todo.completado }"
  [ngClass]="{ editing: editando }"
>
  <div [formGroup]="formNotes">
    <div class="view">
      <input class="toggle" type="checkbox" formControlName="chkCompletado" />
      <label (dblclick)="editar()">{{ todo.texto }}</label>
      <button class="destroy" (click)="borrar()"></button>
    </div>
    <input
      #inputTxt
      class="edit"
      type="text"
      (blur)="terminarEdicion()"
      formControlName="txtEditable"
    />
  </div>
</li>
