.main-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

.puntero {
    cursor: pointer;
}

.chat-window {
    width: 300px;
    margin: auto;
    overflow: hidden;
}

.app-mensajes {
    overflow-y: scroll;
    height: 300px;
}

.bg-header {
    background: #3A3E46;
    color: #ffffff;
}

.bg-chat {
    background: #7E7E99;
}

.circle {
    border-radius: 100%;
    position: absolute;
    text-align: center;
    width: 40px;
    padding: 5px;
    font-size: 10px;
    margin: auto;
    height: 40px;
    color: white;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}