<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#" [style.font-weight]="bold">
        <!-- <img src="../../../assets/img/banner-ico.png" width="30" height="30" alt="">  -->
        MovieAPIApp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">MOVIES</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/search', '?' ,regresarASearch]">SEARCH</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['tvshows']">TV SHOWS</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <!-- <input #buscarTexto class="form-control mr-sm-2" type="text" placeholder="Buscar heroe" (keyup.enter)="buscarHeroe(buscarTexto.value)"> -->
            <input #buscarTexto class="form-control mr-sm-2" type="text" placeholder="Buscar heroe" (keydown.enter)="_buscar(buscarTexto.value)">
            <button type="submit" (click)="_buscar(buscarTexto.value)" class="btn btn-outline-info my-2 my-sm-0">Search</button>
        </form>
    </div>

</nav>
