<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ pendientes }}</strong> pendientes</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <!-- selected -->
    <li *ngFor="let filtro of filtros" (click)="cambiarFiltro(filtro)">
      <a [ngClass]="{ selected: filtro === filtroActual }" href="#/">{{
        filtro | titlecase
      }}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="limpiarCompletados()">
    Limpiar Completados
  </button>
</footer>
