<footer class="bg-dark text-center">
    <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p> &copy; Lizeth {{anio}} </p>
    </div>
</footer>