<div class="row mb-2 animated fadeIn fast">
    <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Read aboout this heroe!!</strong>
                <h3 class="mb-0">{{heroe.nombre | uppercase }}</h3>
                <div class="mb-1 text-muted">{{ heroe.aparicion | date:'y' }}</div>
                <p class="card-text mb-auto">{{ heroe.bio }}</p>

                <p>Casa: </p>
                <div *ngIf="heroe.casa == 'DC'" class="col-auto mb-4">
                    <img class="img-logo" src="../../../assets/img/dc.png" [alt]="heroe.casa">
                </div>
                <div *ngIf="heroe.casa == 'Marvel'" class="col-auto mb-4">
                    <img class="img-logo" src="../../../assets/img/marvel.png" [alt]="heroe.casa">
                </div>

                <button (click)="verHeroes()" class="btn btn-outline-danger btn-block">Regresar</button>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img [src]="heroe.img" alt="">
            </div>

        </div>
    </div>

</div>