<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let ingresoEgreso of ingresosEgresos | ordenIngreso">
              <td>{{ ingresoEgreso.descripcion }}</td>
              <td>{{ ingresoEgreso.monto | currency }}</td>
              <td
                [ngClass]="[
                  ingresoEgreso.tipo === 'ingreso'
                    ? 'text-success text-capitalize'
                    : 'text-danger text-capitalize'
                ]"
              >
                {{ ingresoEgreso.tipo }}
              </td>
              <td>
                <button
                  class="btn btn-danger mx-1"
                  (click)="borrar(ingresoEgreso.uid)"
                >
                  <i class="fa fa-trash"></i>
                  Borrar
                </button>
                <button [disabled]="true" class="btn btn-info mx-1">
                  <i class="fa fa-edit"></i>
                  Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
