<h4>Formularios <small>template</small></h4>
<hr>

<div class="container">

<!-- Declaracion de una referencia al objeto form -->
<form (ngSubmit)="guardar(formTemplate)" novalidate #formTemplate="ngForm">

  <div>

    <!-- // Crea un monton de elementos -->
    <!-- [ngClass]="{'class': true}" - Nos permitio  -->

    <div class="form-group row">
      <label class="col-2 col-form-label" [ngClass]="{'text-danger': nombre.errors?.required || nombre.errors?.minlength }">Nombre</label>
      <div class="col-8">
        <!-- [ngModel] - Lee datos declarados en el component
                    [(ngModel)] - Monitorea lo que cambia en el input y además conoce sus
                  valores previamente declarados-->
        <input class="form-control" type="text" minlength="3" required placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre" #nombre="ngModel">

        <div *ngIf="nombre.errors?.required" class="text-danger m-2 p-1">
          Este campo es requerido!
        </div>
        <!-- con ? preguntas si la propiedad es valida -->
        <div *ngIf="nombre.errors?.minlength" class="text-danger m-2 p-1">
          Debe tener al menos {{ nombre.errors.minlength.requiredLength }} caracteres
        </div>
      </div>


    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" [ngClass]="{'text-danger': apellido.errors?.required || apellido.errors?.minlength }">Apellido</label>
      <div class="col-8">
        <!-- La asianacion de # representa una variable local -->
        <input class="form-control" type="text" required name="apellido" [(ngModel)]="usuario.apellido" #apellido="ngModel" placeholder="Apellido" minlength="3" required>
        <div *ngIf="apellido.errors?.required" class="text-danger m-2 p-1">
          Este campo es requerido!
        </div>
        <!-- con ? preguntas si la propiedad es valida -->
        <div *ngIf="apellido.errors?.minlength" class="text-danger m-2 p-1">
          Debe tener al menos {{ apellido.errors.minlength.requiredLength }} caracteres
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label" [ngClass]="{'text-danger': email.errors?.required || email.errors?.pattern }">Correo</label>
    <div class="col-md-8">
      <input class="form-control" type="email" 
              required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
              #email="ngModel" name="email"
              [class.is-invalid]="email.invalid && email.touched" 
              [(ngModel)]="usuario.email" 
              placeholder="Correo electrónico">
      <div *ngIf="email.errors?.required" class="text-danger m-2 p-1">
        Este campo es requerido!
      </div>
      <!-- con ? preguntas si la propiedad es valida -->
      <div *ngIf="email.errors?.pattern" class="text-danger m-2 p-1">
        Debe de ser un correo valido! <strong>example@success.com</strong>
      </div>
    </div>
  </div>

  <!-- Selects -->

  <div class="form-group row">
    <label class="col-2 col-form-label">Contries</label>
    <div class="col-md-8">
      <select class="form-control" 
              [(ngModel)]="usuario.pais" 
              [class.is-invalid]="paiss.invalid && paiss.touched" 
              #paiss="ngModel"
              required
              name="paises">
        <option value="">SELECCIONE UN CAMPO</option>
        <option *ngFor="let item of paises" [value]="item.codigo">{{ item.pais | uppercase  }}</option>
      </select>
    </div>
  </div>

  <!-- Nuevas actualizaciones -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Contries FROM API</label>
    <div class="col-md-8">
      <select class="form-control" 
              [class.is-invalid]="pais.invalid && pais.touched"         
              [ngModel]="usuario.pais" 
              name="countries"
              required
              [disabled]="countries.length === 0"
              #pais="ngModel">
        <!-- <option value="">SELECCIONE UN CAMPO</option> -->
        <option *ngFor="let item of countries" [value]="item.codigo">{{ item.nombre | uppercase  }}</option>
      </select>
    </div>
  </div>

  <!-- Radios -->

  <div class="form-group row">
    <label class="col-2 col-form-label">Places</label>
    <div class="col-md-8">
      <!-- <div class="form-check">
        <input class="form-check-input"
        [(ngModel)]="usuario.place" type="radio" name="place" value="Alphes">
        <label class="form-check-label">
          Alphes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"
        [(ngModel)]="usuario.place" type="radio" name="place" value="Everest">
        <label class="form-check-label" >
          Everest
        </label>
      </div> -->

      <div *ngFor="let itemp of places" class="form-check">
        <input name="lugares"       
              class="form-check-input" 
              [(ngModel)]="usuario.lugares" 
              type="radio" 
              value="{{itemp}}">
        <label class="form-check-label">
          {{itemp}}
        </label>
      </div>
    </div>
  </div>

  <!-- Otra actualizacion -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Genero</label>
    <div class="col-md-8">

      <div class="form-check">
        <input class="form-check-input"
                [(ngModel)]="usuario.genero"
                required
                #genero="ngModel"
                [class.is-invalid]="genero.invalid && genero.touched" 
                type="radio" name="genero" value="Masculino">
        <label class="form-check-label">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"
                [(ngModel)]="usuario.genero"
                required
                #genero="ngModel"
                [class.is-invalid]="genero.invalid && genero.touched" 
                type="radio" name="genero" value="Femenino">
        <label class="form-check-label" >
          Femenino
        </label>
      </div>

      
    </div>
  </div>

  <!-- checkbox -->
  <!-- <div class="form-group row">
    <label class="col-2 col-form-label">Colors</label>
    <div class="col-md-8">
      <div *ngFor="let item of colors" class="form-check">
        <input name="color" [(ngModel)]="usuario.color" class="form-check-input" type="checkbox" [value]="item">
        <label class="form-check-label">
          {{item}}
        </label>
      </div>
    </div>
  </div> -->

  <div class="form-group row">
    <label class="col-2 col-form-label">Terms of Service</label>
    <div class="col-md-8">
      <div class="form-check">
        <input [(ngModel)]="usuario.acepta" required class="form-check-input" type="checkbox" name="acepta">
        <label class="form-check-label">
          Acepta todas las condiciones del servicio.
        </label>
      </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!-- [disabled]="formTemplate.invalid" -->
      <button  [disabled]="formTemplate.invalid" type="submit" class="btn btn-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

  <pre>

  {{ usuario | json}}
  </pre>

</form>

</div>