<strong>NG-CLASS</strong>

<!-- ALERTA: SE PLANTEA LA CLASE DESDE EL PRINCIPIO -->
<div [ngClass]="'alert-info'" role="alert" class="alert my-4">
  A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  <strong>ngClass: declaración simple</strong>
</div>

<!-- ALERT: VARIABLE QUE CONTIENE UNA CLASE -->
<div [ngClass]="alert" role="alert" class="alert my-4">
  A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  <strong>ngClass: mediante una variable</strong>
</div>

<!-- BUTTON -->
<button class="btn btn-info" name="Button" type="button" (click)="alert = 'alert-info'">Cambiar Color de la alerta</button>

<button class="btn btn-success" name="Button" type="button" (click)="alert = 'alert-success'">Regresar color alerta</button>

<br><br><br><br>

<!-- TEXTO H3 -->
<!-- <h3 [ngClass]="{'text-danger': true }">Find it out!</h3> -->

<!-- TEXTO H3 -->
<!-- <h3 [ngClass]="{'text-danger': false }">Find it out!</h3> -->

<!-- TEXTO H3 -->
<!-- PREGUNTA SE DANGER ES TRUE, SERA UN TEXTO ROJO | SINO SERA UN WARNING -->
<!-- <h3 [ngClass]="{'text-secondary': propiedades.danger, 'text-danger' : !propiedades.danger }">Find it out!</h3> -->


<button class="btn" name="Button" type="button" (click)="propiedades.danger = !propiedades.danger"
[ngClass]="{'btn-secondary': propiedades.danger, 'btn-info': !propiedades.danger }">
Simple Button
</button>


<br><br><br><br>

<strong>Proceso Asincrono</strong> <br>

<!-- [ngClass]="{'fa-hiking': !loading, 'fa-running fa-spin': loading }" -->

<button (click) = "ejecutar()" class="btn btn-primary" type="button"
name="button" [disabled]="loading" ><i class="fas" [ngClass]="{'fa-hiking': !loading, 'fa-running fa-spin': loading }"></i>
  <span *ngIf="!loading" class="mx-4">Guardar cambios</span>
  <span *ngIf="loading" class="mx-5">Espere por favor</span>

</button>

<br><br><br><br><br><br>
