<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4">Comic Application</h1>
    <p class="lead">This is a website where you can know all the superheroes that exists.</p>
    <hr class="my-4">
    <p>More functionalities will be developed. <br>Comming Soon...... </p>

</div>