<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
   <a class="navbar-brand" href="#">Album</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/fotos']">Fotos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/carga']">Cargar Fotos</a>
      </li>
      <li></li>
    </ul>
  </div> 
</nav>


<div class="container col-lg-1-12|auto main-container">
    <router-outlet></router-outlet>  
</div>

