<h3>Contador</h3>

<!-- <h4>{{ contadorFromPather }}</h4> -->
<h4>{{ contador }}</h4>

<div class="row">
  <div class="col">
    <button (click)="multiplicar()" class="btn btn-primary mx-2">
      Multiplicar
    </button>
    <button (click)="dividir()" class="btn btn-primary mx-2">Dividir</button>
  </div>
</div>

<hr />

<div class="row">
  <div class="col">
    <!-- <app-nieto
      [contadorFromSon]="contadorFromPather"
      (contadorHasChangedGrandChild)="resetNieto($event)"
    ></app-nieto> -->
    <app-nieto></app-nieto>
  </div>
</div>
