<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Terminados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-listas [terminados]="true"></app-listas>
</ion-content>
