<h1>
  Buscar películas <small>{{ parametro }}</small>
</h1>
<hr />

<div class="row">
  <div class="col">
    <app-peliculas-poster-grid
      *ngIf="moviesResults.length > 0"
      [movies]="moviesResults"
    ></app-peliculas-poster-grid>
  </div>
</div>
