<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Animated Striped bar</h4>
        <div class="progress m-t-30">
          <div
            class="progress-bar active progress-bar-striped bg-danger"
            style="height: 6px"
            [style.width]="getProgreso1"
            role="progressbar"
          ></div>
        </div>

        <div class="progress m-t-30">
          <div
            class="progress-bar active progress-bar-striped bg-info"
            style="height: 6px"
            [style.width]="getProgreso2"
            role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          (valorSalida)="progreso1 = $event"
          [valor]="progreso1"
        ></app-incrementador>
      </div>
    </div>
  </div>

  <!-- al colocarle [] angular espera leer una propiedad declarada, de lo contrario marcara error / O bien sera necesario colocarle 
  comillas simples para decirle que e una cadena de texto -->

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          (valorSalida)="progreso2 = $event"
          [valor]="progreso2"
          [btnClass]="'btn-info'"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>
