<div class="row">
    <div class="col-md-12">
        <input type="text" #termino class="form-control my-3" (keyup)="buscar(termino.value)" placeholder="Buscar tu artista favorito" name="search">
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>
