<div class="form-group">

    <p>Ingresa con alguna de tus cuentas: </p>

    <div class="row my-5">
        <div class="col-md-12">
            <button (click)="_ingresar('twitter')" class="btn btn-outline-info btn-block" type="button"><i class="fab fa-twitter m-1"></i>Twitter</button>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-12">
            <button (click)="_ingresar('google')" class="btn btn-outline-danger btn-block" type="button"><i class="fab fa-google m-1"></i>Google</button>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-12">
            <button class="btn btn-outline-primary btn-block" type="button"><i class="fab fa-facebook m-1"></i>Facebook</button>
        </div>  
    </div>

    <div class="col-sm-1-12|auto">
          
    </div>

</div>