<div class="row">


    <!-- Right -->

    <div class="col-md-8 chat-window border rounded">

        <!-- Top -->
        <div class="row bg-header rounded">
            <div class="col-md-12 p-2">
                Esperando .......
            </div>
        </div>

        <!-- Body -->

        <div class="row app-mensajes" id="app-msm">
            <div class="col-md-12">

                <div class="row m-2" *ngFor="let chat of chatService.chats">

                    <div class="col-md-12">
                        <div class="text-right">
                            <span class="m-1 p-1">
                        <strong></strong>  
                    </span>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="badge" 
                                    [ngClass]="{'badge-success': chatService.usuario.uid == chat.uid,
                                                'float-left': chatService.usuario.uid != chat.uid,
                                                'badge-primary': chatService.usuario.uid != chat.uid}">
                                    {{ chat.nombre }}
                                    </span>
                                    <p class="text-white rounded m-1 p-2" [ngClass]="{'float-md-right': chatService.usuario.uid == chat.uid,
                                                                                      'bg-success': chatService.usuario.uid == chat.uid,
                                                                                      'bg-primary': chatService.usuario.uid != chat.uid,
                                                                                      'float-md-left': chatService.usuario.uid != chat.uid }">{{chat.mensaje }}</p>
                                    
                                    <br><br>

                                    <p class="mt-1 p-1 float-right" *ngIf="chat.fecha">{{ chat.fecha }} ms</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="circle btn btn-dark" (click)="volverUp()"><i class="fas fa-arrow-up"></i></button>

            </div>

        </div>

        <div class="row bg-light p-3">
            <div class="col-md-9">
                <div class="form-group w-100">
                    <input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="_enviarMensaje()">
                </div>
            </div>

            <div class="col-md-3">
                <button class="btn btn-dark btn-block" type="submit">Send</button>
            </div>

        </div>
    </div>
</div>