<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn">
  <!-- This is some text within a card block. -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6 class="card-subtitle">Lista</h6>

        <div
          class="alert alert-info text-center"
          role="alert"
          *ngIf="usuarios.length === 0"
        >
          <i class="fa fa-exclamation"></i>
          <p class="mb-0">No hay usuarios</p>
        </div>

        <div class="table-responsive" *ngIf="usuarios.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                <td>
                  <img
                    [src]="usuario.img | imagen: 'usuarios'"
                    width="40"
                    class="img-circle cursor"
                  />
                </td>
                <td>{{ usuario.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>
        <h6 class="card-subtitle">Lista</h6>

        <div
          class="alert alert-info text-center"
          role="alert"
          *ngIf="hospitales.length === 0"
        >
          <i class="fa fa-exclamation"></i>
          <p class="mb-0">No hay hsopitales</p>
        </div>

        <div class="table-responsive" *ngIf="hospitales.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let hospital of hospitales"
                class="animated fadeIn fast"
              >
                <td>
                  <img
                    [src]="hospital.img | imagen: 'hospitales'"
                    width="40"
                    class="img-circle cursor"
                  />
                </td>
                <td>{{ hospital.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Médicos</h4>
        <h6 class="card-subtitle">Lista</h6>

        <div
          class="alert alert-info text-center"
          role="alert"
          *ngIf="medicos.length === 0"
        >
          <i class="fa fa-exclamation"></i>
          <p class="mb-0">No hay médicos</p>
        </div>

        <div class="table-responsive" *ngIf="medicos.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos" class="animated fadeIn fast">
                <td>
                  <img
                    [src]="medico.img | imagen: 'medicos'"
                    width="40"
                    class="img-circle cursor"
                  />
                </td>
                <td>
                  <a [routerLink]="['/dashboard/medico', medico._id]">
                    {{ medico.nombre }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
