<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="position-relative overflow-hidden m-md-3 text-center bg-light animated fadeIn">

    <div class="row">
        <div class="col-md-6">
            <img [src]="urlImg + detailMovie.poster_path" width="250px" height="250px" class=" my-3" alt="">
        </div>

        <div class="col-md-6 mx-auto my-5">

            <h1 class="display-4 font-weight-bold">{{ detailMovie.title }}</h1>
            <p class="lead font-weight-normal">Popularidad {{ detailMovie.popularity }}</p>
            <p class="lead font-weight-light">Votos Promedios {{ detailMovie.vote_average }} </p>
            <p class="lead font-weight-bold">Fecha: {{detailMovie.release_date}}</p>
            <p class="lead font-italic">Titulo Original: {{ detailMovie.original_title }}</p>

            <div class="row my-3">
                <div class="col-sm-12 text-center">
                    <span class="badge badge-info mx-2 p-2" *ngFor="let genero of detailMovie.genres">{{ genero.name }}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead font-weight-normal text-justify">Descripción: {{detailMovie.overview}}</p>
        </div>

        <a class="btn btn-outline-secondary" [routerLink]="['/'+ goback, word, goback]">Volver atrás</a>
    </div>

</div>
