<div class="row text-center">
  <div class="col m-auto">
    <h2>Contador</h2>
    <h2>{{ contador }}</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6 m-auto">
    <button (click)="incrementar()" class="btn btn-info mx-2">+</button>
    <button (click)="decrementar()" class="btn btn-danger mx-2">-</button>
  </div>
</div>

<hr />

<!-- <div class="row text-center">
  <div class="col">
    <app-hijo
      [contadorFromPather]="contador"
      (contadorHasChangedSon)="contador = $event"
    ></app-hijo>
  </div>
</div> -->

<div class="row text-center">
  <div class="col">
    <app-hijo></app-hijo>
  </div>
</div>
