<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div
          *ngIf="cargando"
          class="alert alert-success text-center"
          role="alert"
        >
          <h4 class="alert-heading">Cargando...</h4>
          <i class="fa fa-spin fa-refresh fa-2z"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

        <div class="form-material">
          <div class="form-group">
            <label>Buscar por nombre</label>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar medico"
              (keyup)="buscar(txtTermino.value)"
              #txtTermino
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table hospitales -->
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row my-1">
          <div class="col-md-9">
            <h4 class="card-title">Medicos</h4>
            <h6 class="card-subtitle">
              Administra tus medicos de forma rápida
            </h6>
          </div>
          <div class="col-md-3 text-center">
            <a
              type="button"
              class="btn btn-outline-primary"
              routerLink="/dashboard/medico/nuevo"
            >
              Crear Médico
            </a>
          </div>
        </div>

        <div class="table-responsive text-center">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td>
                  <img
                    [src]="medico.img | imagen: 'medicos'"
                    [alt]="medico.nombre"
                    (click)="abrirModal(medico)"
                    width="40"
                    class="img-circle cursor"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="medico.nombre"
                    placeholder=""
                  />
                </td>
                <td class="text-nowrap">
                  <!-- (click)="guardarCambios(medico)" -->
                  <a
                    class="cursor"
                    [routerLink]="['/dashboard/medico', medico._id]"
                    data-toggle="tooltip"
                    data-original-title="Guardar"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <!-- (click)="eliminarMedico(medico)" -->
                  <a
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Eliminar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
