<div class="row">
  <div class="col-sm-6">
    <div class="card card-body">
      <h4 class="card-title">Médico</h4>
      <h6 class="card-subtitle">Actualizar información</h6>
      <form
        [formGroup]="medicoForm"
        (submit)="guardarMedico()"
        class="form-horizontal m-t-40"
      >
        <!-- Mostrar imagen del usuario -->
        <div class="m-t-30 text-center" *ngIf="medicoSeleccionado">
          <img
            [src]="medicoSeleccionado.img | imagen: 'medicos'"
            class="img-circle"
            width="150"
          />
        </div>

        <div class="form-group">
          <label><span class="help">Nombre</span></label>
          <input
            type="text"
            formControlName="nombre"
            class="form-control"
            placeholder="Nombre del médico"
          />
        </div>

        <div class="form-group">
          <label>Seleccione un Hospital</label>
          <select formControlName="hospital" class="custom-select col-12">
            <option value="">Seleccione...</option>
            <option *ngFor="let hospital of hospitales" [value]="hospital._id">
              {{ hospital.nombre }}
            </option>
          </select>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <button
              type="submit"
              [disabled]="medicoForm.invalid"
              class="btn btn-success waves-effect waves-light"
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
    <div class="card card-body">
      <h4 class="card-title">Hospital</h4>
      <h6 class="card-subtitle">Actualizar información</h6>
      <!-- Upload image -->
      <div class="m-t-30 text-center">
        <img
          *ngIf="hospitalSeleccionado.img"
          [src]="hospitalSeleccionado.img | imagen: 'hospitales'"
          class="img-circle"
          width="150"
        />
        <h4 class="card-title m-t-10">{{ hospitalSeleccionado.nombre }}</h4>
      </div>
    </div>
  </div>
</div>
