<mat-card>
    <mat-card-title>Mapas</mat-card-title>
    <mat-card-content>
        Contenido:
        <agm-map (mapClick)="addMark($event)" [latitude]="lat" [longitude]="lng" [zoom]="15">
            <agm-marker *ngFor="let mark of marcadores; let i = index"  [latitude]="mark.lat" [longitude]="mark.lng">
                <agm-info-window [disableAutoPan]="true">
                    {{ mark.titulo }}
                    <br><strong>{{mark.desc}}</strong>
                    <div>
                        <button (click)="editMark(mark)" mat-raised-button color="primary">Editar</button>
                        <button (click)="deleteMark(i)" mat-raised-button color="accent">Borrar</button>
                    </div>
                </agm-info-window>

                
            </agm-marker>
        </agm-map>
    </mat-card-content>
    
</mat-card>
