<form [formGroup]="form" class="example-form">
  <mat-form-field>
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Título" formControlName="titulo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea rows="3" matInput placeholder="Descripción" formControlName="desc"></textarea>
    
  </mat-form-field>
  <button (click)="saveChanges()" mat-raised-button color="primary">Editar</button>
  <button (click)="onNoClick()" mat-raised-button color="warn">Cancelar</button>
</form>
