<div class="row my-5">
    <div class="card-columns animated fadeIn">
        <div class="card" *ngFor="let item of elementPop">
            <!-- <img [src]="item.id" class="card-img-top" alt="..."> -->
            <div class="col-md-12 m-auto routr" [routerLink]="['/movie']">

                <img class="card-img-top" [src]=" item | peliculasImg " [alt]="item.title">
            </div>

            <div class="card-body">
                <h5 class="card-title" [ngStyle]="{'color': item.title ? 'black' : 'grey'}">{{ item.title }}</h5>
                <h5 class="card-title" [ngStyle]="{'color': item.name ? 'grey' : 'black'}">{{ item.name }}</h5>
                <p class="card-text">
                    <span class="badge badge-pill badge-info">Popularidad: {{item.popularity | number:".2-2"}}</span>
                </p>
                <!-- <p class="card-text">Sinopsis: {{item.overview}}</p>  -->
                <p class="card-text">Puntuación: {{item.vote_average}} <i class="far fa-star text-info"></i></p>
                <p class="card-text">Fecha de estreno: {{item.release_date}}</p>
            </div>

            <div class="card-footer" *ngIf="entrada === 'peliculas'">
                <button type="button" (click)="_seeDetails(item)" class="btn btn-outline-primary btn-block">Ver mas</button>
            </div>

            <div class="card-footer" *ngIf="entrada === 'tvshows'">
                <button type="button" (click)="_seeDetails(item)" class="btn btn-outline-warning btn-block">Ver mas</button>
            </div>
            <div class="card-footer" *ngIf="entrada === 'busqueda'">
                <button type="button" (click)="_seeDetails(item)" class="btn btn-outline-success btn-block">Ver mas</button>
            </div>
        </div>
    </div>
</div>
