<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <!-- ngSubmit Sirve para efectuar una accion una vez que el formulario ha sido enviado -->
            <!-- #LoginForm - declara como un identificador de tipo ngForm para que sea reconocido por angular -->
            <form (ngSubmit)="login(LoginForm)" #LoginForm="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <span *ngIf="LoginForm.submitted && LoginForm.controls['email'].errors" class="text-danger">El correo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <!-- ngModel detecta cualquier cambio en el input, actualizando el valor constantemente -->
                    <input class="input100" type="email" [(ngModel)]="usuario.email" minlength="6" required email name="email" placeholder="Correo">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="LoginForm.submitted && LoginForm.controls['pass'].errors" class="text-danger">La contraseña debe de ser más de 6 letras</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" [(ngModel)]="usuario.password" minlength="6" name="pass" required placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" [(ngModel)]="recordarme" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/registro" class="txt1">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>