
  <h1>Virtual Scroll</h1>
  <hr>

  <div class="row">
      <div class="col">
          <button 
          (click)="irFinal()"
          type="button" name="" id="" class="btn btn-primary">Final</button>
      </div>

      <div class="col text-center">
        <button 
        (click)="irMitad()"
        type="button" name="" id="" class="btn btn-danger">Mitad</button>
      </div>

      <div class="col text-right">
        <button 
        (click)="irInicio()"
        type="button" name="" id="" class="btn btn-secondary">Inicio</button>
    </div>
  </div>
  <br>
  <cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group">

    <div class="list-group-item" *cdkVirtualFor="let persona of personas; let i=index; let conteo = count ">
        <p class="animated bounceInLeft">Item {{i}} / {{conteo}}</p> 
    </div>

  </cdk-virtual-scroll-viewport>



