<div class="row my-5">
    <div class="card-columns animated fadeIn">
        <div (click)="verArtista(item)"  class="card" *ngFor="let item of items">
            <img [src]="item.images | noimage " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">
                    <span class="badge badge-pill badge-success" *ngFor="let artist of item.artists">{{artist.name}}</span>
                </p>
                <p class="card-text">{{item.release_date}}</p>
            </div>
        </div>
    </div>
</div>
