<div *ngIf="error" class="alert alert-danger alert-dismissible fade show my-4" role="alert">
    <strong>Error!</strong> {{ msmerror }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<app-loading *ngIf="loading"></app-loading>

<h2>Upcoming Mov...</h2>

<div class="row h-75 m-3">
    <div class="col-md-12 m-0 h-75">

        <div class="row">
            <div class="col-md-12 puntero" [routerLink]="['/movie', _upcoming[0]['id'] ]">
                <img [src]=" urlImg +  _upcoming[0].backdrop_path " class="w-100">
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6 puntero" [routerLink]="['/movie', _upcoming[1]['id'] ]">
                <img [src]="urlImg + _upcoming[1].backdrop_path" class="w-100">
            </div>

            <div class="col-md-6 puntero" [routerLink]="['/movie', _upcoming[2]['id'] ]">
                <img [src]="urlImg + _upcoming[2].backdrop_path" class="w-100">
            </div>
        </div> -->


    </div>

     <!-- <div class="col-md-6 m-0">
        <div class="row">
            <div class="col-md-12 puntero" [routerLink]="['/movie', _upcoming[3]['id'] ]">
                <img [src]=" urlImg +  _upcoming[3].backdrop_path " class="w-100 ">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 puntero" [routerLink]="['/movie', _upcoming[4]['id'] ]">
                <img [src]="urlImg + _upcoming[4].backdrop_path" class="w-100">
            </div>

            <div class="col-md-6 puntero" [routerLink]="['/movie', _upcoming[5]['id'] ]">
                <img [src]="urlImg + _upcoming[5].backdrop_path" class="w-100">
            </div>
        </div>
     </div> -->
</div>

<h3>Most Popular</h3>

<app-cards [elementPop]="_movies" [entrada]="peliculas"></app-cards>

<h3>Trending</h3>

<hr>

<div class="row my-5">
    <div class="card-columns animated fadeIn">
        <div class="card" *ngFor="let item of _trending">
            <!-- <img [src]="item.id" class="card-img-top" alt="..."> -->
            <div class="col-md-12 m-auto routr" [routerLink]="['/movie']">
                <img class="card-img-top" [src]=" item | peliculasImg " [alt]="item.title">
            </div>

            <div class="card-body">
                <h5 class="card-title" [ngStyle]="{'color': item.title ? 'black' : 'grey'}">{{ item.title }}</h5>
                <p class="card-text">
                    <span class="badge badge-pill badge-info">Popularidad: {{item.popularity | number:".2-2"}} ...</span>
                </p>
                <p class="card-text">Puntuación: {{item.vote_average}} <i class="far fa-star text-info"></i></p>
                <p class="card-text">Fecha de estreno: {{item.release_date}}</p>
            </div>

            <div class="card-footer" *ngIf="entrada === 'peliculas'">
                <button type="button" (click)="_seeDetails(item)" class="btn btn-outline-primary btn-block">Ver mas</button>
            </div>
        </div>
    </div>
</div>

