<ion-tabs>

    <ion-tab-bar slot="bottom" color="dark">
        <ion-tab-button tab="tab1">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Pendientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="done-all"></ion-icon>
            <ion-label>Terminados</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="tab3">
            <ion-icon name="albums"></ion-icon>
            <ion-label>Por categoria</ion-label>
        </ion-tab-button> -->
    </ion-tab-bar>

</ion-tabs>