<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['home']" >Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['precios']">Precios</a>
    </li>

    <li *ngIf="auth.loggedIn" class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
    </li>

  </ul>

  <span class="navbar-text">
    <button *ngIf="!auth.loggedIn" (click)="auth.login()" class="btn btn-outline-primary mx-2" type="button" name="button">Entrar</button>
    <button *ngIf="auth.loggedIn" (click)="auth.logout()" class="btn btn-outline-danger mx-2" type="button" name="button">Salir</button>
  </span>

</div>
</nav>
