<div
  class="fondo-modal-imagen"
  [class.oculto]="modalImagenService.ocultarModal"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar una imagen</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="cerrarModal()"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Selecciona una imagen</h3>
          <!-- Card 1 -->
          <div class="card-body">
            <!-- Mostrar imagen del usuario -->
            <div class="m-t-30 text-center">
              <img
                *ngIf="!imgTemp"
                [src]="modalImagenService.img"
                class="img-circle"
                width="150"
              />
              <img
                *ngIf="imgTemp"
                [src]="imgTemp"
                class="img-circle"
                width="150"
              />
            </div>
            <!-- Line -->
            <hr />

            <!-- Upload image -->
            <div class="form-material">
              <div class="form-group">
                <label>Imagen o Avatar</label>
                <input
                  type="file"
                  (change)="cambiarImagen($event.target.files[0])"
                  class="form-control"
                  id="exampleInputFile"
                  aria-describedby="fileHelp"
                />
              </div>
            </div>
          </div>
          <!-- End Card 1 -->
          <!-- End SubCard 2 -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="cerrarModal()"
          >
            Cerrar
          </button>
          <button type="button" class="btn btn-primary" (click)="subirImagen()">
            Cargar imagen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
