<app-loading *ngIf="loading"></app-loading>


<div *ngIf="!loading" class="position-relative overflow-hidden m-md-3 text-center bg-light animated fadeIn">
  <div class="col-md-5 mx-auto my-5">
    <img [src]="detailArtist.images | noimage" width="300px" height="300px" class="rounded-circle my-3" alt="">
    <h1 class="display-4 font-weight-normal">{{ detailArtist.name }}</h1>
    <p class="lead font-weight-normal">Popularidad {{ detailArtist.popularity }}</p>
    <p class="lead font-weight-normal">Seguidores {{ detailArtist.followers.total }}</p>
    <a class="lead font-weight-normal text-center" [href]="detailArtist.external_urls.spotify">Página del artista </a>
    <div class="row my-3">
      <div class="col-sm-1-12 text-center mx-auto">
        <span class="badge badge-info" *ngFor="let genero of detailArtist.genres">{{genero | uppercase  }}</span>
      </div>
    </div>
    <a class="btn btn-outline-secondary" routerLink="/search">Volver atrás</a>
  </div>
</div>


<hr>
<br>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark text-center">
      <tr>

        <th scope="col">Foto</th>
        <th scope="col">Album</th>
        <th scope="col">Canción</th>
        <!-- <th scope="col">Vista Previa</th> -->
        <th scope="col">Widget</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of tracksTop">
        <th scope="row"><img [src]="track.album.images | noimage" [alt]="track.album.name" class="img-circle"></th>
        <td>{{track.album.name}}</td>
        <td><i class="fas fa-music"></i> {{track.name}}</td>
        <!-- <td><audio [src]="track.preview_url" controls></audio></td> -->
        <td>
          <iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
      </tr>

    </tbody>
  </table>
</div>
