<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-6">
    <app-dona
      title="Sales"
      [labels]="doughnutChartLabels"
      [data]="doughnutChartData"
    ></app-dona>
  </div>
  <div class="col-6">
    <app-dona
      title="Products"
      [labels]="doughnutChartLabels2"
      [data]="doughnutChartData2"
    ></app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona
      title="Shopping"
      [labels]="doughnutChartLabels3"
      [data]="doughnutChartData3"
    ></app-dona>
  </div>
  <div class="col-6">
    <!-- [labels]="doughnutChartLabels4"
      [data]="doughnutChartData4" -->
    <app-dona title="Offers"></app-dona>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
