<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- ************************Project 18************************** -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- DOCUMENTACION: https://valor-software.com/ng2-charts/ -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h1>Graficos Dinámicos</h1>
        <hr>
        <h4>GRAFICA DE LINEA</h4>
        <app-linea></app-linea>
        <hr>
        <h4>GRAFICA DE BARRAS</h4>
        <app-barra></app-barra>
        <hr>
        <h4>GRAFICO DE DONA</h4>
        <app-dona></app-dona>
        <hr>
        <h4>GRAFICO DE RADAR</h4>
        <app-radar></app-radar>
      </div>
    </div>
  </div>



