<h2>Listado de Materias</h2>
<hr>
<div class="row">
    <div class="col text-right">
        <button type="button" class="btn btn-info" [routerLink]="['/heroe/nuevo']">Agregar</button>
    </div>
</div>

<div class="row my-3 animated fadeIn slow" *ngIf="cargando">
    <div class="col">

        <div class="alert alert-primary text-center" role="alert">
            <p class="alert-heading"><strong>Cargando!</strong></p>
            <p><i class="fas fa-spinner fa-spin fa-2x"></i></p>
            <p>Espere por favor ...</p>
        </div>
    </div>

</div>

<div class="row my-3" *ngIf="!cargando && heroes.length === 0">
    <div class="col">

        <div class="alert alert-warning text-center" role="alert">
            <p class="alert-heading"><strong>No hay registros!</strong></p>
            <p><i class="fas fa-exclamation fa-2x"></i></p>
        </div>
    </div>

</div>


<!-- <div class="my-2 animated fadeIn faster">

    <table class="table table-hover table-responsive">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Disponible / No Disponible</th>
                <th scope="col">Properties</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of heroes; let i=index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.nombre }}</td>
                <td>{{ item.estado }}</td>
                <td>{{ item.properties }}</td>
            </tr>
        </tbody>
    </table>

</div> -->

<div class="row animated fadeIn faster" *ngIf="!cargando && heroes.length > 0">
    <div class="col-md-6 mt-2" *ngFor="let item of heroes; let i=index">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.nombre }}
                        <img *ngIf="item.estado" src="../../../assets/img/shield.png" class="card-img-top img-c" alt="...">
                        <img *ngIf="!item.estado" src="../../../assets/img/wrong.png" class="card-img-top img-c" alt="...">
                    </h5>

                    <p class="card-text">{{ item.properties }}</p>
                    <p class="card-text"><small class="text-muted" *ngIf="item.estado">Disponible</small></p>
                    <p class="card-text"><small class="text-muted" *ngIf="!item.estado">No disponible</small></p>

                    <button type="button" class="btn btn-outline-info float-left" [routerLink]="['/heroe', item.id]">
                        <i class="far fa-edit"></i>
                        Editar
                    </button>
                    <button type="button" class="btn btn-outline-danger float-right" (click)="_borrarheroe(item, i)">
                        <i class="far fa-trash-alt"></i>
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>