<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Películas</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex">
        <input
          #buscadorTxt
          (keyup.enter)="buscarPelicula(buscadorTxt.value)"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          (click)="buscarPelicula(buscadorTxt.value)"
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</nav>
