<div class="row">
    <div class="col-md-4">
        <h3>Seleccione los archivos</h3>
        <!-- Imprime true al pasar el mouse--  (mouseSobre) = "onElement($event)" -->
        <div appNgDropFiles [archivos]="files" (mouseSobre)="onDrop = $event" [ngClass]="{'file-over': onDrop}" class="well drop-zone p-2">
            <h4>Arrastre aqui sus archivos</h4>
            <img src="assets/drop-images.png" alt="">
        </div>
    </div>
    <div class="col-md-8 mt-2">
        <h4>Cargar Archivos</h4>
        <div class="row my-2">
            <div class="col-sm-6">
                <button (click)="loadImg()" [disabled]="files.length === 0" class="btn btn-outline-success btn-block" type="button">Cargar a Firebase</button>
            </div>
            <div class="col-sm-6">
                <button (click)="cleanImg()" class="btn btn-outline-danger btn-block" type="button">Limpiar</button>
            </div>
        </div>
       
       

        <table class="table">
            <thead class="thead=dark">
                <tr>
                    <th>Nombre del archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let arch of files">
                    <td [ngClass]="{'text-green': arch.progreso >= 100 }">{{ arch.nombreArchivo }}</td>
                    <td>{{ arch.archivo.size / 1024 | number: '.2-2' }} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': arch.progreso + '%' }"></div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
