<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <!-- <img src="../../../assets/img/banner-ico.png" width="30" height="30" alt="">  -->
        NAVBAR
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['pag1']">PAG1</a>

            </li>

             <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['pag2']">PAG2</a>
                
            </li>

             <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['pag3']">PAG3</a>
                
            </li>
        </ul>

    </div>
</nav>
