<h2>Cartelera</h2>

<div class="row" *ngIf="moviesSlideshow.length > 0">
  <div class="col">
    <app-slideshow [movies]="moviesSlideshow"></app-slideshow>
  </div>
</div>

<h1 class="mt-5">Películas</h1>

<app-peliculas-poster-grid
  *ngIf="movies.length > 0"
  [movies]="movies"
></app-peliculas-poster-grid>
