<div *ngIf="error" class="alert alert-danger alert-dismissible fade show my-4" role="alert">
  <strong>Error!</strong> {{msmerror}}.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<app-loading *ngIf="loading"></app-loading>

<app-tarjetas [items]="nuevasCanciones" class="puntero"></app-tarjetas>
