<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
    <ul>
        <li class="text" *ngFor="let chat of chats | async">
            {{chat.mensaje}} {{ chat | json }}
        </li>
    </ul>
</div> -->
<div class="container mt-3">
    <!-- <h1>Chat!</h1> -->

    <!-- Left -->

    <div class="row">
        <div class="col-md-4 h-75">

            <div class="row" *ngIf="!_cs.usuario.uid">
                <div class="col-md-12">
                    <app-login></app-login>
                </div>
            </div>
            <div class="row" *ngIf="_cs.usuario.uid">
                <div class="col-md-12">
                    <button class="btn btn-outline-danger btn-block" type="button" (click)="_cs.logout()">
                        <i class="fas fa-sign-out-alt m-1"></i>Salir</button>
                </div>
            </div>

        </div>

        <!-- Right -->
        <!-- *ngIf="_cs.usuario.uid" -->
        <div class="col-md-7 animated fadeIn faster" *ngIf="_cs.usuario.uid">
            <div class="row">
                <div class="col-md-12">
                    <app-chat></app-chat>
                </div>
            </div>
        </div>

    </div>

</div>