<nav class="navbar navbar-expand-md bg-danger">
    <a class="navbar-brand text-white" href="#">
        <!-- <img src="../../../assets/img/banner-ico.png" width="30" height="30" alt="">  -->
        YouAPIApp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-white">
            <li class="nav-item">
                <a class="nav-link">HOME</a>
            </li>
        </ul>

    </div>
</nav>