<div class="row">
    <div class="col-md-12">
      <form>
        <input #termino ([ngModel])="search" type="text" class="form-control my-3" (keyup.enter)="buscar(termino.value)" placeholder="Buscar tu movie" name="search">

      </form>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="__movies === 0">
    <div class="col-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
            </button>
            <strong>El término {{terminoBuscado}} no fue encontrado!</strong>
            <p>Intenta otra vez....</p>
        </div>
    </div>
</div>


<app-cards *ngIf="!loading && __movies.length !== 0" [elementPop]="__movies" [entrada]="busqueda"></app-cards>
