<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h1>Uso de Pipes: </h1>
    <table class="table my-4 ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">PIPE</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{nombre}}</th>
                <td>uppercase</td>
                <!-- Pone en mayusculas una frase -->
                <td>{{ nombre | uppercase }}</td>
            </tr>
            <tr>
                <th scope="row">{{nombre}}</th>
                <td>lowercase</td>
                <!-- Pone en minusculas una frase -->
                <td>{{ nombre | lowercase }}</td>
            </tr>
            <tr>
                <th scope="row">{{nombre}}</th>
                <td>slice:3</td>
                <!-- Acorta una frase -->
                <td>{{ nombre | slice:3 }}</td>
            </tr>
            <tr>
                <th scope="row">{{arreglo}}</th>
                <td>slice:1:5</td>
                <!-- Acorta una un seccion en un arreglo -->
                <td>{{ arreglo | slice:1:5 }}</td>
            </tr>
            <tr>
                <th scope="row">{{PI}}</th>
                <td>number: '3.0-0'</td>
                <!-- Muestra un numero entero, peor agrega dos  al inicio -->
                <td>{{ PI | number:'3.0-0' }}</td>
            </tr>
            <tr>
                <th scope="row">{{PI}}</th>
                <td>number: '1.0-2'</td>
                <!-- Muestra un numero entero con un maximpo de dos decimales -->
                <td>{{ PI | number:'1.0-2' }}</td>
            </tr>
            <tr>
                <th scope="row">{{a}}</th>
                <td>percent </td>
                <!-- Muestra el porcentaje cerrado, sin decimales -->
                <td>{{ a | percent }}</td>
            </tr>

            <tr>
                <th scope="row">{{a}}</th>
                <td>percent: '2.2-4'</td>
                <!-- Muestra dos numeros enteros con un minimo de 2 decimales y un maximo de 4 decimales -->
                <td>{{ a | percent: '2.2-4' }}</td>
            </tr>
            <tr>
                <th scope="row">{{salario}}</th>
                <td>currency </td>
                <!-- Muestra el salario en tipo moneda -->
                <td>{{ a | currency }}</td>
            </tr>

            <tr>
                <th scope="row">{{salario}}</th>
                <td>currency: 'MXN' </td>
                <!-- Muestra el salario en tipo MXN -->
                <td>{{ a | currency: 'MXN' }}</td>
            </tr>
            <tr>
                <th scope="row">{{salario}}</th>
                <td>currency: 'MXN':'symbol-narrow':'4.0-0' </td>
                <!-- Muestra el salario en tipo moneda MXN con simbolo -->
                <td>{{ a | currency: 'MXN':'symbol-narrow':'3.0-0' }}</td>
            </tr>
            <tr>
                <th scope="row">{{salario}}</th>
                <td>number:'.2-2' </td>
                <!-- Muestra el salario sin ceros a la izquierda -->
                <td>{{ a | number:'.2-2' }}</td>
            </tr>

            <tr>
                <th scope="row">{{valorPromesa}}</th>
                <td>async </td>
                <!-- Muestra la promesa una vez pasado los 300ms -->
                <td>{{ valorPromesa | async }}</td>
            </tr>

            <tr>
                <th scope="row">{{fecha}}</th>
                <td>date </td>
                <!-- Muestra la fecha con 27 DIC 2019 -->
                <td>{{ fecha | date }}</td>
            </tr>

            <tr>
                <th scope="row">{{fecha}}</th>
                <td>date: 'medium' </td>
                <!-- Muestra la fecha con 27 DIC 2019 -->
                <td>{{ fecha | date: 'medium' }}</td>
            </tr>
            <tr>
                <th scope="row">{{fecha}}</th>
                <td>date: 'MMMM - dd - yyyy' </td>
                <!-- Muestra la fecha con DICIEMBRE 27 2019 -->
                <td>{{ fecha | date: 'MMMM - dd - yyyy' }}</td>
            </tr>
            <!-- ============================================================ -->
            <!-- Intalar @angular/localize -->
            <tr>
                <th scope="row">{{fecha}}</th>
                <td>
                    date: 'MMMM - dd - yyyy':'':'{{ idioma}}'
                    <br>
                    <button (click)="idioma = 'es-MX'" class="mr-1 btn btn-warning">Español</button>
                    <button (click)="idioma = 'fr'" class="mr-1 btn btn-info">Frances</button>
                    <button (click)="idioma = 'en'" class="mr-1 btn btn-danger">Ingles</button>
                </td>
                <!-- Muestra la fecha con DICIEMBRE 27 2019 -->
                <td>{{ fecha | date: 'MMMM - dd - yyyy':'': idioma }}</td>
            </tr>

            <tr>
                <th scope="row">{{fecha}}</th>
                <td>date: 'MMMM - dd - yyyy':'':'fr' </td>
                <!-- Muestra la fecha con DICIEMBRE 27 2019 -->
                <td>{{ fecha | date: 'MMMM - dd - yyyy':'':'fr' }}</td>
            </tr>

            <!-- ================================================================== -->

            <tr>
                <th scope="row">{{frase}}</th>
                <td>capitalizado</td>
                <!-- Muestra la cadena con todas las Iniciales en Mayusculas -->
                <td>{{ frase | capitalizado }}</td>
            </tr>
            <tr>
                <th scope="row">{{frase}}</th>
                <td>capitalizado:false </td>
                <!-- Muestra la cadena son capitalizar las iniciales -->
                <td>{{ frase | capitalizado:false }}</td>
            </tr>

            <tr>
                <th scope="row">{{ palabraClave }}</th>
                <td>Contrasena: {{ activar }}
                    <br>
                    <button (click)="activar = !activar" class="btn btn-block btn-info">Ver/Ocultar</button>
                </td>
                <!-- Muestra la cadena en asteriscos o normal -->
                <td>{{ palabraClave | contrasena:activar }} </td>
            </tr>
        </tbody>
    </table>


    <h3>Slice (Otro uso):</h3>
    <hr>
    <ul>
        <!-- Independientemente de si si contenga esos elementos no marca error -->
        <li *ngFor="let elemento of arreglo | slice:2:20 ">{{ elemento }}</li>
    </ul>

    <h3>JSON:</h3>
    <hr>
    <!-- Se coloca una etiqueta de html5 para una mejor visualizacion de la data -->
    <pre>
       <p>{{ ninja | json }}</p> 
    </pre>

    <h3>Youtube <small>Video</small></h3>
    <hr>[
    <iframe width="560" height="315" [src]="videoenlace | domseguro: 'https://www.youtube.com/embed/' " frameborder=" 0 " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>

</div>