<div class="container-12 my-4">
    <h1>Sesión iniciada</h1>
    <strong>Welcome..</strong>
    <hr>
    <button type="button" (click)="log_out();" class="btn btn-outline-danger ">Salir</button>


</div>