
<!-- NOTE Podemos visualizar una cantidad de elementos dentro de 
un componenete drag -->
<!-- <app-virtual></app-virtual> -->

<!-- NOTE Podemos arrastrar un caja o elemento en nuestra pantalla -->
<!-- <app-drag></app-drag> -->

<!-- NOTE Uso de la API CONTRIESA -->
<app-paises></app-paises>
