<br><br><br><br>
<strong>NG-SWITCH</strong>


<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'success'">success</div>
  <div *ngSwitchCase="'info'">info</div>
  <div *ngSwitchCase="'warning'">warning</div>
  <div *ngSwitchDefault>danger</div>
</div>


<button type="button" (click)="alerta='success'" name="button" class="btn btn-secondary">Cambiar</button>

<div [ngSwitch]="alerta">
<div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
  <strong>NG-SWITCH</strong>
  A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
  <strong>NG-SWITCH</strong>
  A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
  <strong>NG-SWITCH</strong>
  A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div *ngSwitchDefault class="alert alert-danger" role="alert">
  <strong>NG-SWITCH</strong>
  A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
</div>
