<h1>Marvel y DC</h1>

<hr>
<!-- *ngFor="let heroe of heroes; let i = index" -->
<div class="card-columns">
    <!-- NOTE LA REFERENCIA DE [HEROE] Y [INDEX] DE AQUI MISMO -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>