<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="position-relative overflow-hidden m-md-3 text-center bg-light animated fadeIn">

    <div class="row">
        <div class="col-md-6"> 
            <img [src]="urlImg + detailShow.poster_path" width="250px" height="250px" class=" my-3" alt="">
        </div>

        <div class="col-md-6 mx-auto my-5">

            <h1 class="display-4 font-weight-normal">{{ detailShow.title }}</h1>
            <p class="lead font-weight-normal">Popularidad {{ detailShow.popularity }}</p>
            <p class="lead font-weight-normal">Votos Promedios {{ detailShow.vote_average }} </p>
            <p class="lead font-weight-italic">Fecha: {{detailShow.release_date}}</p>
            <p class="lead font-weight-italic">Temporadas: {{detailShow.number_of_seasons}}</p>
            <p class="lead font-weight-italic">Episodios: {{detailShow.number_of_episodes}}</p>
            <div class="row my-3">
                <div class="col-sm-12 text-center">
                    <span class="badge badge-info mx-2 p-2" *ngFor="let genero of detailShow.genres">{{ genero.name }}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="row mx-2">
        <div class="col-md-12 mx-auto">
            <p class="lead font-weight-normal text-justify">Descripción: {{detailShow.overview}}</p>
        </div>

        <a class="btn btn-outline-secondary" routerLink="/tvshows">Volver atrás</a>
    </div>

</div>