<a routerLink="/medicos">Médicoss</a>
<a routerLink="/hospital">Médicoss</a>
<a routerLink="/usuario">Médicoss</a>
<a routerLink="/perfil">Médicoss</a>
<a routerLink="/pag404">Médicoss</a>

<app-navbar></app-navbar>

<router-outlet></router-outlet>
