<h3>Actores</h3>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div *ngFor="let actor of cast" class="swiper-slide text-white text-center">
      <img
        class="img-thumbnail"
        [src]="actor.profile_path | poster"
        [alt]="actor.name"
      />
      {{ actor.name }}}
    </div>
  </div>
</div>
