<h2>Buscarndo: {{ termino }}</h2>
<hr>

<div class="row" *ngIf="heroeBuscado.length == 0 ">
    <div class="col-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
            </button>
            <strong>El término {{termino}} no fue encontrado!</strong>
            <p>Intenta otra vez....</p>
        </div>
    </div>
</div>

<!-- NOTE LA REFERENCIA DE [HEROE] Y [INDEX] VIENEN DEL PADRE -->
<app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroeBuscado; let i = index"></app-heroe-tarjeta>


<!-- <div class="row mb-2 animated fadeIn fast">
    <div *ngFor="let heroeBuscado of heroe; let i = index" class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Read aboout this heroe!!</strong>
                <h3 class="mb-0">{{ heroeBuscado.nombre | uppercase }}</h3>
                <div class="mb-1 text-muted">{{ heroeBuscado.aparicion | date:'y' }}</div>
                <p class="card-text mb-auto">{{ heroeBuscado.bio }}</p>

                <p>Casa: </p>
                <div *ngIf="heroeBuscado.casa == 'DC'" class="col-auto mb-4">
                    <img class="img-logo" src="../../../assets/img/dc.png" [alt]="heroeBuscado.casa">
                </div>
                <div *ngIf="heroeBuscado.casa == 'Marvel'" class="col-auto mb-4">
                    <img class="img-logo" src="../../../assets/img/marvel.png" [alt]="heroeBuscado.casa">
                </div>

                <!-- <button [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</button> 
            </div>
            <div class="col-auto d-none d-lg-block">
                <img [src]="heroeBuscado.img" alt="">
            </div>

        </div>
    </div>

</div> -->