<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Http Efects</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/usuario/1"
            routerLinkActive="router-link-active"
            >Usuario</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <input
          #txtInput
          class="form-control me-2"
          type="search"
          placeholder="Usuario"
          aria-label="Search"
        />
        <button
          (keyup.enter)="buscar(txtInput.value)"
          (click)="buscar(txtInput.value)"
          class="btn btn-outline-success"
          type="button"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</nav>
