<div class="row">
    <div class="col-md-6">
        <h1>*ngIf</h1>
        <hr>

        <div *ngIf="mostrar" class="card border-info mb-3" style="max-width: 100%;">
            <div class="card-body text-info">
                <h5 class="card-title">{{ frase.autor }}</h5>
                <p class="card-text">"{{ frase.mensaje }}"</p>

            </div>
        </div>

        <button (click)="mostrar = !mostrar" class="btn btn-outline-info btn-block">Mostrar/Ocultar</button>
    </div>

    <div class="col-md-6">
        <h1>*ngFor</h1>
        <hr>

        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i='index' " class="list-group-item">
                {{i + 1 }} - {{ personaje }}
            </li>
        </ul>

    </div>
</div>