<div class="row">
    <div class="col-md-6">
      <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
        </canvas>
      </div>
    </div>

    <div class="col-md-6">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of doughnutChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of doughnutChartData; let i=index">
            <td *ngFor="let h of doughnutChartData; let y=index">{{h}}</td>
          </tr>
        </table>
        <button class="btn btn-outline-danger" (click)="numeros_ramdom()">Randomize</button>
      </div>
  </div>
