<!-- ELEMENTOS DE UNA LISTA -->
<ion-list color="dark" #lista>
    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminados" class="animated fadeInDown">
        <ion-item color="dark" (click)="listaSeleccionada(lista)">
            <ion-label>{{lista.titulo}}</ion-label>
            <ion-note slot="end" color="primary" *ngIf="lista.items.length === 0 "> {{lista.items.length }} elementos</ion-note>
            <ion-note slot="end" color="primary" *ngIf="lista.items.length > 0 && !terminados"> {{lista.items.length }} pendientes</ion-note>
            <ion-note slot="end" color="primary" *ngIf="lista.items.length > 0 && terminados"> {{lista.items.length }} completados</ion-note>

        </ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="borrarLista(lista)" color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
            <ion-item-option (click)="editarLista(lista)" color="primary">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>