<div class="card-columns">
  <div class="card" *ngFor="let item of items | async">
    <img [src]="item.url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.nombre}}</h5>
    </div>
  </div>
</div>