<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-lg-6 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <!-- Mostrar imagen del usuario -->
        <div class="m-t-30 text-center">
          <img
            *ngIf="!imgTemp"
            [src]="usuario.imagenUrl"
            class="img-circle"
            width="150"
          />
          <img *ngIf="imgTemp" [src]="imgTemp" class="img-circle" width="150" />
          <h4 class="card-title m-t-10">{{ usuario.nombre }}</h4>
        </div>
        <!-- Line -->
        <hr />
      </div>
      <div class="card-body">
        <!-- Upload image -->
        <div class="form-material">
          <div class="form-group">
            <label>Imagen o Avatar</label>
            <input
              type="file"
              (change)="cambiarImagen($event.target.files[0])"
              class="form-control"
              id="exampleInputFile"
              aria-describedby="fileHelp"
            />
          </div>
        </div>
        <!-- Submit Button -->
        <div class="form-group">
          <div class="col-sm-12">
            <button
              type="submit"
              [disabled]="!imagenSubir"
              (click)="subirImagen()"
              class="btn btn-success"
            >
              Subir imagen
            </button>
          </div>
        </div>
      </div>
      <!-- End SubCard 2 -->
    </div>
    <!-- End Card  -->
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-6 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#settings"
            role="tab"
            >Configuraciones</a
          >
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="settings" role="tabpanel">
          <div class="card-body">
            <form
              class="form-horizontal form-material"
              [formGroup]="perfilForm"
              (submit)="actualizarPerfil()"
            >
              <div class="form-group">
                <label class="col-md-12">Username</label>
                <div class="col-md-12">
                  <input
                    type="text"
                    formControlName="nombre"
                    placeholder="Nombre del usuario"
                    class="form-control form-control-line"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="example-email" class="col-md-12">Email</label>
                <div class="col-md-12">
                  <input
                    type="email"
                    placeholder="johnathan@admin.com"
                    class="form-control form-control-line"
                    formControlName="email"
                    id="example-email"
                    [readOnly]="usuario.google"
                  />
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="col-md-12">Password</label>
                <div class="col-md-12">
                  <input
                    type="password"
                    value="password"
                    class="form-control form-control-line"
                  />
                </div>
              </div> -->

              <div class="form-group">
                <div class="col-sm-12">
                  <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="perfilForm.invalid"
                  >
                    Actualizar Perfil
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
