<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div
          *ngIf="cargando"
          class="alert alert-success text-center"
          role="alert"
        >
          <h4 class="alert-heading">Cargando...</h4>
          <i class="fa fa-spin fa-refresh fa-2z"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

        <div class="form-material">
          <div class="form-group">
            <label>Buscar por nombre</label>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar usuario"
              (keyup)="buscar(txtTermino.value)"
              #txtTermino
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table usuarios -->
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6 class="card-subtitle">Administra tus usuarios de forma rápida</h6>
        <strong>Total de usuarios: {{ totalUsuarios }}</strong>
        <div class="table-responsive text-center">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Role</th>
                <th>Auth</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>
                  <img
                    [src]="usuario.imagenUrl"
                    [alt]="usuario.nombre"
                    width="40"
                    class="img-circle cursor"
                    (click)="abrirModal(usuario)"
                  />
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>
                  <!-- <span class="label label-success"> {{ usuario.role }}</span> -->
                  <select
                    class="form-control"
                    [(ngModel)]="usuario.role"
                    (change)="cambiarRole(usuario)"
                  >
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>

                <td>
                  <span *ngIf="usuario.google" class="label label-danger"
                    >Google</span
                  >
                  <span *ngIf="!usuario.google" class="label label-info"
                    >Email</span
                  >
                </td>
                <td class="text-nowrap">
                  <a
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    class="cursor"
                    data-toggle="tooltip"
                    (click)="eliminarUsuario(usuario)"
                    data-original-title="Eliminar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Botones para la páginacion -->
        <div class="row" *ngIf="txtTermino.value.length === 0">
          <div class="col-md-6">
            <p>
              Resultados <strong>{{ usuarios.length }}</strong
              >, <strong>{{ desde === 0 ? desde + 1 : desde }}</strong> to
              <strong>{{
                desde <= totalUsuarios ? desde + 5 : totalUsuarios
              }}</strong>
            </p>
          </div>

          <div class="col-md-6" *ngIf="txtTermino.value.length === 0">
            <button
              (click)="cambiarPagina(-5)"
              type="button"
              class="btn btn-outline-info mx-1"
            >
              Anterior
            </button>
            <button
              (click)="cambiarPagina(5)"
              type="button"
              class="btn btn-outline-info mx-1"
            >
              Siguientes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
