<div class="row my-3">
  <div class="col-md-12 text-center">
    <i class="fas fa-sync fa-3x fa-spin" style="color: #4acbcb;"></i>
    <p style="color:#4acbcb;">Espere un momento.....</p>
  </div>
</div>
