<h1>Materia <small></small></h1>
<hr>

<div class="row my-4">
    <div class="col">
        <button type="button" class="btn btn-outline-danger " [routerLink]="['/heroes']"><i
        class="fas fa-arrow-left m-1"></i> Regresar</button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(formMateria)" #formMateria="ngForm">
            <div class="form-group">
                <label>Firebase ID</label>
                <input class="form-control" [(ngModel)]="heroe.id" disabled type="text" name="id" placeholder="Firebase ID">
                <small>Campo autocompletado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" [(ngModel)]="heroe.nombre" type="text" name="nombre" placeholder="Nombre">

            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button type="button" *ngIf="heroe.estado" (click)="heroe.estado = false" class="btn btn-outline-success w-50"><i class="far fa-smile-wink"></i> Activa</button>

                <button type="button" *ngIf="!heroe.estado" (click)="heroe.estado = true" class="btn btn-outline-danger w-50"><i class="far fa-dizzy"></i> Inactiva</button>


            </div>

            <div class="form-group">
                <label>Properties</label>
                <input class="form-control" [(ngModel)]="heroe.properties" type="text" name="properties" placeholder="Properties">

            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary w-100"><i class="far fa-save mx-1"></i> Enviar</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>