<div
  *ngIf="loading"
  class="alert alert-warning text-center fade show"
  role="alert"
>
  <strong>Cargando...</strong>
  <br />
  <i class="fa fa-sync fa-spin fa-2x"></i>
</div>

<div *ngIf="error" class="alert alert-warning fade show" role="alert">
  <strong>Error!</strong>
  <br />
  <pre>
    {{ error | json }}
  </pre>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="!loading">
  <div class="col" *ngFor="let user of usuarios">
    <div class="card h-100">
      <img [src]="user.avatar" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
        <p class="card-text">This is a longer card with supporting text</p>
        <p class="card-text">
          <span class="text-muted"> ID: {{ user.id }} </span>
        </p>
      </div>
    </div>
  </div>
</div>
