<h4>Formularios <small>data</small></h4>
<hr>
<!-- De esa manera inyectamos lo creado eb el back -->
<form [formGroup]="formData" (ngSubmit)="save()">

  <div formGroupName="nombrecompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
        <!-- [ngClass]="{'text-danger': !formData.get('nombre').valid}" -->
        <!-- [ngClass]="{'text-danger': !formData.controls['nombrecompleto'].controls['nombre'].valid}" -->
        <div *ngIf="formData.get('nombrecompleto.nombre').errors?.required" class="m-2" [ngClass]="{'text-danger': !formData.controls['nombrecompleto'].controls['nombre'].valid}">
          * El nombre es necesario
        </div>
        <div *ngIf="formData.get('nombrecompleto.nombre').errors?.minlength" class="m-2" [ngClass]="{'text-danger': !formData.controls['nombrecompleto'].controls['nombre'].valid}">
          * Debe tener al menos {{formData.get('nombrecompleto.nombre').errors?.minlength.requiredLength}} caracteres
        </div>
      </div>

    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control" type="text" formControlName="apellido" placeholder="Apellido">
        <div *ngIf="formData.get('nombrecompleto.apellido').errors?.required" class="m-2" [ngClass]="{'text-danger': !formData.controls['nombrecompleto'].controls['apellido'].valid}">
          * El apellido es necesario
        </div>
        <div *ngIf="formData.get('nombrecompleto.apellido').errors?.minlength" class="m-2" [ngClass]="{'text-danger': !formData.controls['nombrecompleto'].controls['apellido'].valid}">
          * Debe tener al menos {{formData.get('nombrecompleto.apellido').errors?.minlength.requiredLength}} caracteres
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control" type="email" formControlName="correo" placeholder="Correo electrónico">
      <!-- *ngIf="formData.controls['correo'].errors?.required" -->
      <div *ngIf="formData.get('correo').errors?.required" class="m-2 text-danger">
        * El correo es necesario
      </div>
      <div *ngIf="formData.get('correo').errors?.pattern" class="m-2 text-danger">
        * Debe ser un correo Valido! example@success.com
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <input *ngFor="let item of formData.controls['pasatiempos'].controls; let i=index;" class="form-control" type="text" [formControlName]="i">
    </div>
    <button (click)="agregarPasatiempo()" type="button" class="btn btn-outline-secondary" name="button">Agregar</button>
  </div>


  <div class="form-group row">
    <label for="" class="col-2 col-form-label">Password</label>
    <div class="col-md-8">
      <input type="password" class="form-control" formControlName="password1" placeholder="password1">
    </div>
  </div>

  <div class="form-group row">
    <label for="" class="col-2 col-form-label">Comprobar Password</label>
    <div class="col-md-8">
      <input type="password" class="form-control" formControlName="password2" placeholder="password2">
    </div>
  </div>

  <div class="form-group row">
    <label for="" class="col-2 col-form-label">username</label>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="username" placeholder="usuario">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{ formData.valid }}

  <br>

  {{formData.status}}

  <pre>
    {{ formData.value }}
  </pre>

</form>
