<div class="row">
    <div class="col-md-6">
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>     
    </div>
    <div class="col-md-6">
        <table class="table table-responsive table-condensed">
            <tr>
              <th *ngFor="let label of barChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of barChartData; let i=index" [class]="'line-'+i">
              <td *ngFor="let label of barChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
          </table>
        <button class="btn btn-outline-primary" (click)="randomize()">Update</button>
   </div>
  </div>
