<app-navbar></app-navbar>

<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      <!-- Welcome to {{ title }}! -->App
    </h1>
  </div>
  <hr>
  <!-- NG-STYLE -->
  <!-- <app-ng-style></app-ng-style> -->
  <!-- NG-CSS -->
  <!-- <app-css></app-css> -->
  <!-- NG-CLASS -->
  <!-- <app-ng-class></app-ng-class> -->


  <!-- USO DE DIRECTIVAS- APLICAN UN NUEVO STYLE AL ELEMENTO  -->
  <!-- SIN MANDAR PARAMETROS -->
  <!-- <p appResaltado>Estilo de un Componente</p> -->
  <!-- MANDAR PARAMETROS -->
  <!-- <p [appResaltado]="'red'">Estilo de un Componente</p> -->
  <!-- NG-SWITCH -->
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-home></app-home> -->


  <router-outlet></router-outlet>

  <br><br><br><br>

  <strong>RUTAS HIJAS - CHILD ROUTES</strong>



</div>
