<div class="container my-3">
  <!-- <h3>App</h3> -->
  <hr>

  <div class="row my-1" *ngIf="_items.length">
    <div class="card-columns animated fadeIn">
      <div class="card" *ngFor="let item of _items">

        <div class="col-md-12 m-auto">
            <img class="card-img-top" [src]=" item.thumbnails.default.url" [alt]="item.title">
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            <span class="badge badge-pill badge-danger">Description: {{item.position }}</span>
          </p>
          <p class="card-text">Channel Title: {{item.channelTitle }} <i class="far fa-star text-info"></i></p>
          <p class="card-text">{{item.publishedAt}}</p>
        </div>

        <!--MODAL-->

        <button type="button" class="btn btn-outline-danger btn-lg|sm btn-block" (click)="ver_Video(item);">Ver 
          <i class="far fa-eye"></i>
        </button>


      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-dark btn-block" (click)="cargarMas();">Cargar mas videos</button>

</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">

    <!-- Validacion de la existencia del video     -->
    <div class="modal-content" *ngIf="videoSel">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{ videoSel?.title }}</h4>
      </div>
      <div class="modal-body h-100">
        <h5>Channel Title: {{ videoSel?.channelTitle }}</h5>

        <iframe class="w-100 h-100" height="500px" [src]="videoSel?.resourceId.videoId | domseguro"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal();">Close</button>
      </div>
    </div>


  </div>
</div>