<div class="card animated fadeIn fast">
    <!-- Se utiliza el [] para decirle que ANGULAR se hará cargo de ello -->
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text">{{ heroe.aparicion }}</p>
        <!-- NOTE FORMA MAS FORMAL DE HACER UN REDIRECCION DE UNA RUTA 
            LA FUNCION verHeroe() gestionará un evento que efectuará el 
            padre.
        -->
        <button (click)="verHeroe()" class="btn btn-outline-primary btn-block">
                Ver más
        </button>


        <!-- NOTE ESTA FUE UNA FORMA DE HACER UN REDIRECCIONAMIENTO DE UNA RUTA -->
        <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más</a> -->
    </div>
</div>